#myCanvas
{
border-width: 10px;
background-color: crimson;
border-style: ridge;
}
body
{
    background-image: url(avenger_bg.jpg);
}
#head_info
{
    width: 600px;
    margin-bottom: 10px;
}
